.main_container{
	margin-left: 20%;
	margin-right: 20%;
}

.content{
	margin-left: 20%;
}


.td_table{
	padding: 20px 10px 10px 10px;
	width: 100px;
}

.td_long_table{
	padding: 20px 10px 10px 10px;
	width: 200px;
}

table, th, td {
	padding: 20px 10px 10px 10px;
    border: 1px solid black;
}